<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new message</title>
  </head>
  <body>
    <form action="/new" method="post">
      <p>
        <label>
          <span>User name: </span>
          <input type="text" name="messageUser" />
        </label>
      </p>
      <p>
        <label>
          <span>Message: </span>
          <input type="text" name="messageText" />
        </label>
      </p>
      <button type="submit">submit</button>
    </form>
  </body>
</html>
