<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>message</title>
  </head>
  <body>
    <main>
      <strong> <%= message.username %> </strong>

      <p><%= message.text %></p>

      <p>
        <span>Created At: </span>
        <%= message.added %>
      </p>
    </main>
  </body>
</html>
